<script
  async
  src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7023370172872685"
  crossorigin="anonymous"
></script>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-MG17SX24X0"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-MG17SX24X0');
</script>

<script
  data-name="BMC-Widget"
  data-cfasync="false"
  src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js"
  data-id="b9f1"
  data-description="Support me on Buy me a coffee!"
  data-message="👋 Glad to meet you.Buy me a coffee? 😊"
  data-color="#5F7FFF"
  data-position="Right"
  data-x_margin="18"
  data-y_margin="18"
></script>