<script
  async
  src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7023370172872685"
  crossorigin="anonymous"
></script>

<script
  data-name="BMC-Widget"
  data-cfasync="false"
  src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js"
  data-id="b9f1"
  data-description="Support me on Buy me a coffee!"
  data-message="👋 Glad to meet you.Buy me a coffee? 😊"
  data-color="#5F7FFF"
  data-position="Right"
  data-x_margin="18"
  data-y_margin="18"
></script>

{{ if .Store.Get "hasMermaid" }}
  <script src="https://cdn.jsdelivr.net/npm/d3@7/+esm"></script>
  <script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
  {{ $renderMermaidWithZoom := resources.Get "js/render-mermaid-with-zoom.js" | js.Build }}
  <script src="{{ $renderMermaidWithZoom.RelPermalink }}"></script>
{{ end }}